/* BOX-SIZING */
* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0 0 0 var(--static-space-40);
    line-height: inherit;
}

li {
    padding: var(--static-space-8) 0;
    line-height: 150%;
    font-size: inherit;
    color: inherit;

    &::marker {
        color: var(--brand-on-background-weak);
    }
}

blockquote {
    display: flex;
    margin: var(--static-space-16) 0;
    border-radius: var(--radius-m);
    background: var(--brand-alpha-weak);
    overflow: hidden;
    text-wrap: balance;
    backdrop-filter: blur(var(--static-space-2));
    border: 1px dashed var(--brand-alpha-medium);

    span {
        margin: 0 !important;
        padding: var(--static-space-16) var(--static-space-24);
        color: var(--brand-on-background-medium) !important;
    }
}

img {
    user-select: none;
}

/* SELECTION */
::selection {
    background: var(--neutral-on-background-medium);
    color: var(--neutral-background-strong);
}

/* LINK */
a {
    color: var(--brand-on-background-medium);
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25em;
    text-decoration-color: var(--neutral-border-strong) !important;

    &:hover {
        text-decoration-line: underline;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    background: var(--static-transparent);
    width: var(--static-space-8);
    height: var(--static-space-8);
}

::-webkit-scrollbar-track {
    background: var(--static-transparent);
}

::-webkit-scrollbar-thumb {
    background: var(--neutral-alpha-medium);
    border-radius: var(--radius-999);
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);

    &:hover {
        background: var(--neutral-alpha-strong);
    }
}

.title-text {
    /* color:#DCBE77; */
    font-size: 20px; 
    font-weight: 900;
    margin-bottom: 0px;
    background: linear-gradient(265.6deg, #9F80EB 50.64%, #4856EC 150.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-description1 {
    /* color:#DCBE77; */
    font-size: 35px; 
    font-weight: 900;
    margin-bottom: 0px;
    background: linear-gradient(265.6deg, #9F80EB 50.64%, #4856EC 150.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-title-text {
    font-family: 'Roboto Slab', sans-serif; 
    color: white;
    font-size: 36px; 
    font-weight: 400;
    align-items: center;
}
.text-description{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 15px; 
    font-weight: 900;
    margin-bottom: 0px;
    text-align: justify;
}

.text-description-a{
    font-size: 35px; 
    font-weight: 900;
    margin-bottom: 0px;
    text-align: justify;
  }

  .button {
    background-color: #6a0dad;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 15px; 
    font-family: 'Pirata One', serif; 
  }
  
  .button:hover {
    background-color: #4b0082;
  }